body{

margin:0;
font-family:Arial;

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

color:white;

display:flex;
justify-content:center;

}

.container{

width:1200px;
padding:30px;

}

.logo-header{

display:flex;
justify-content:center;

margin-bottom:40px;

}

.main-logo{

width:250px;
filter:drop-shadow(0 0 15px #00c6ff);

}

.translator-container{

display:flex;
align-items:center;
justify-content:center;

gap:40px;

}

.box{

width:520px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(12px);

padding:25px;

border-radius:18px;

display:flex;
flex-direction:column;

gap:15px;

}

select{

padding:10px;

background:#000;
color:white;

border:none;
border-radius:8px;

}

textarea{

height:220px;

background:#000;

color:white;

border-radius:12px;

padding:18px;

border:2px solid transparent;

resize:none;

}

textarea:focus{

border-color:#00c6ff;

box-shadow:0 0 15px #00c6ff;

}

.swap-container button{

width:55px;
height:55px;

background:#1a73e8;

border:none;

border-radius:50%;

font-size:22px;

color:white;

cursor:pointer;

}

.output-buttons{

display:flex;
gap:10px;

}

.controls{

margin-top:40px;

display:flex;

gap:15px;

justify-content:center;

}

.controls button{

background:#1a73e8;

border:none;

padding:10px 20px;

border-radius:8px;

color:white;

cursor:pointer;

}


/* VOICE POPUP */

.voice-popup{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.7);

display:none;

align-items:center;
justify-content:center;

flex-direction:column;

}

.mic-animation{

width:80px;
height:80px;

border-radius:50%;

background:#1a73e8;

animation:pulse 1s infinite;

margin-bottom:20px;

}

@keyframes pulse{

0%{transform:scale(1)}
50%{transform:scale(1.3)}
100%{transform:scale(1)}

}


/* LOADER */

.loading-popup{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.7);

display:none;

align-items:center;
justify-content:center;

flex-direction:column;

}

.loader{

border:6px solid #eee;

border-top:6px solid #00c6ff;

border-radius:50%;

width:60px;
height:60px;

animation:spin 1s linear infinite;

margin-bottom:20px;

}

@keyframes spin{

0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}

}